<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css""> 
    <link rel="stylesheet" href="/public/css/home.css"">    
    <title>Home</title>
</head>
<body>
    <div class="container">
        <nav>
            <h1>TRAINING BUDDY</h1>
            <a href="login.html">LOGIN</a>
        </nav>
        <img class="img-desktop" src="/public/img/homeimgdesktop.jpg" alt="Two people cycling">
        <img class="img-phone" src="/public/img/homeimgphone.png" alt="Woman jogging">
        <div class="home-text">
            <p>Discover the perfect sports partners and elevate your active lifestyle with our app.</p>
            <a href="login.html">
                <button class="login-button">LOGIN</button>
            </a>
            <a href="register.html">
                <button class="register-button">REGISTER</button>
            </a>
        </div>
    </div>
</body>
</html>